<!doctype html>
<head>
  <title>Layout 1</title>
</head>
<body>
  <header>
    <a href='#'><img src='/logo.png' /></a>
    <h1>Home Page</h1>
    <nav>
      <ul>
        <li><a>Link 1</a></li>
        <li><a>Link 2</a></li>
        <li><a>Link 3</a></li>
        <li><a>Link 4</a></li>
        <li><a>Link 5</a></li>
        <li><a>Link 6</a></li>
        <li><a>Link 7</a></li>
        <li><a>Link 8</a></li>
      </ul>
    </nav>
  </header>
  <section id='ads'>
    <div id='ad'></div>
    <div id='rotator'></div>
  </section>
  <section id='main'>
    <article id='featured-child'>
      <img />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis dolorem sint iusto ducimus, vel voluptates fugit quos similique quae, aut adipisci quia ea sed officia accusantium molestias doloremque laudantium ipsam.</p>
    </article>
    <article id='simple-give-area'></article>
    <a href='' id='sponsor'></a>
    <p></p>
  </section>
  <section id='bios'>
    <article>
      <img />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem aliquam asperiores magnam natus architecto.</p></article>
    <article>
      <img />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate hic suscipit ut. Natus, officiis, error.</p></article>
    <article>
      <img />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eius praesentium autem id distinctio. Tempore?</p></article>
    <article>
      <img />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quam, fugit tempore alias consectetur deleniti.</p></article>
    <article>
      <img />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi beatae voluptatibus cum dicta? Voluptatem.</p></article>
  </section>
</body>
