<!doctype html>
<html>
  <head>
    <title>Layout 1</title>
  </head>
  <body>
    <header>
      <a href='#'><img src='/logo.png' /></a>
      <h1>Home Page</h1>
      <nav>
        <a>Link 1</a>
        <a>Link 2</a>
        <a>Link 3</a>
        <a>Link 4</a>
        <a>Link 5</a>
        <a>Link 6</a>
        <a>Link 7</a>
        <a>Link 8</a>
      </nav>
    </header>
    <section id='ads'>
      <div id='ad'></div>
      <div id='rotator'></div>
    </section>
    <section id='main'>
      <figure id='featured-child'>
        <img />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis dolorem sint iusto ducimus, vel voluptates fugit quos similique quae, aut adipisci quia ea sed officia accusantium molestias doloremque laudantium ipsam.</figcaption>
      </figure>
      <article id='simple-give-area'></article>
      <a href='' id='sponsor'></a>
      <p>Creative Ways to Give</p>
    </section>
    <section id='bios'>
      <figure>
        <img />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem aliquam asperiores magnam natus architecto.</figcaption>
      </figure>
      <figure>
        <img />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate hic suscipit ut. Natus, officiis, error.</figcaption>
      </figure>
      <figure>
        <img />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eius praesentium autem id distinctio. Tempore?</figcaption>
      </figure>
      <figure>
        <img />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quam, fugit tempore alias consectetur deleniti.</figcaption>
      </figure>
      <figure>
        <img />
        <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi beatae voluptatibus cum dicta? Voluptatem.</figcaption>
      </figure>
    </section>
  </body>
</html>
