<!-- 2 -->
<article>
  <video src=''></video>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur molestiae rerum quod saepe perspiciatis, tenetur voluptate porro voluptates voluptatum.</p>
</article>

<!-- 3 -->
<article>
  <video src=''></video>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur molestiae rerum quod saepe perspiciatis, tenetur voluptate porro voluptates voluptatum.</p>
  <button>Link</button>
</article>

<!-- 4 -->
<article>
  <section>
    <img />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, error!</p>
    <img />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, error!</p>
  </section>
  <aside>
    <div id='date'></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, cumque.</p>
  </aside>
</article>

<!-- 5 -->
<article>
  <section>
    <img />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, error!</p>
    <img />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, error!</p>
  </section>
  <aside>
    <div id='date'></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, cumque.</p>
  </aside>
</article>

<!-- 6 -->
<article>
  <h2>Donation</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, excepturi?</p>
  <div>Transaction list</div>
</article>

<!-- 7 -->
<article>
  <section>
    <img />
    <p>Lorem ipsum dolor sit amet.</p>
  </section>
  <section>
    <img />
    <p>Deleniti, nihil id laboriosam mollitia?</p>
  </section>
  <section>
    <img />
    <p>Architecto, sint est praesentium totam.</p>
  </section>
  <section>
    <img />
    <p>Asperiores, fugit earum omnis praesentium.</p>
  </section>
  <section>
    <img />
    <p>Cum molestias, soluta adipisci. Ipsam.</p>
  </section>
  <section>
    <img />
    <p>Autem, quaerat, odio. Non, architecto.</p>
  </section>
  <section>
    <img />
    <p>Iusto necessitatibus, nobis eaque ipsam.</p>
  </section>
  <section>
    <img />
    <p>Distinctio quidem animi quod tempore.</p>
  </section>
</article>

<!-- 8 -->
<article>
  <h2>Contact Information</h2>
  <address></address>
  <form>
    <fieldset>
      <label></label>
      <input type='text' />
    </fieldset>
  </form>
</article>

<!-- 9 -->
<article>
  <ul>
    <li><img /><p>Lorem ipsum dolor sit amet.</p></li>
    <li><img /><p>Lorem ipsum dolor sit amet.</p></li>
    <li><img /><p>Lorem ipsum dolor sit amet.</p></li>
  </ul>
</article>
