@import '../grid';
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,600,700);

a > img {
  vertical-align: bottom; //prevent bottom space causing by descenders
}

html {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

h2 {
  letter-spacing: 0.25rem;
  font-size: 1.125rem;
  color: #303030;
  text-transform: uppercase;
}

p {
  font-size: 1.75rem;
  font-weight: lighter;
  color: #666;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.big-black-p {
  font-size: 5.375rem;
  font-weight: bolder;
  color:  #303030;
  line-height: 1.047;
  text-transform:  uppercase;
}

.debug {
  border: 1px solid red;
}

.header {
  position: relative;
  background: url('images/header-background.jpg') no-repeat;
  background-size: cover;
  background-position: right;
  padding-top: 37px;
  height: 45em;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.header-slogan {
  position: absolute;
  width: 100%;
  top: 21rem;
  margin: 0;
  font-size: 2.375rem;
  font-weight: lighter;
  letter-spacing: 0.21em;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2.25em;

  a {
    margin: 0 1.5625em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;

    &.active, &:active, &:hover, &:focus {
      position: relative;
      text-shadow: 0 0 1px white;

      &:after {
        content: '';
        position: absolute;
        height: 0.1875em;
        left: -0.375em;
        right: -0.375em;
        bottom: -0.25em;
        background: #1bf1ad;
      }
    }
  }
}

.digital-creative {
  padding-top: 7rem;
  text-align: center;

  h2 {
    margin: 0;
  }

  p {
    width: 40.25rem;
    margin: 0 auto;
    margin-top: 3rem;
    line-height: 1.571;
    letter-spacing: 0.0625rem;
  }
}

.our-ideology {
  position: relative;
  float: right;
  padding-top: 15.375rem;
  padding-right: 6rem;

  &:after {
    content: '+++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++
    +++++++++++++++++++++++++++++++++++++++';
    font-size: 1.5rem;
    position: absolute;
    width: 54.4375rem;
    color: #e0e0e0;
    left: 2.75rem;
    top: 10rem;
    z-index: -1;
    letter-spacing: 0.3125rem;
  }

  h2 {
    margin: 0;
  }

  p {
    margin-top: 2.5rem;
    margin-bottom: 0;
    text-align: left;
  }
}

.cool-quote {

  .container {
    position: relative;
  }

  img {
    position: absolute;
    z-index: -1;
    bottom: -1.5em;
    left: -24em;
  }

  p {
    margin: 0;
    width: 26rem;
    font-weight: 600;
    color:  #303030;
    font-size: 3.625rem;
    line-height: 1.206896552;
  }
}

.meet-the-team {
  padding-top: 13rem;

  .section-header {
    display: inline-block;
    position: relative;
    left: calc(50% - 40rem);

    h2 {
      margin: 0;
    }

    p {
      margin-top: 1.625rem;
      margin-bottom: 0;
    }
  }

  .container {
    margin-top: 4.5rem;
  }

  .people-card {
    padding-top: 1.2em;
    font-size: 1.25rem;

    img {
      float: left;
      margin-right: 1.5rem;
    }

    i {
      font-size: 0.75rem;

      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }

    .name {
      color:  #303030;
      font-size: 1.25rem;
      font-weight: normal;
      margin: 0.75rem 0;
    }

    .position {
      color:  #666666;
      font-size: 1rem;
      margin: 0;
      margin-bottom: 0.875rem;
    }
  }
}
