<!doctype html>
<html>
  <head>
    <title>Layout 1</title>
    <script src='https://cdn.jsdelivr.net/livejs/4/live.js'></script>
    <link rel='stylesheet' href='style.css'
  </head>
  <body>
    <div class='container'>
      <header>
        <a href='#'><img src='assets/logo.svg' /></a>
        <h1 class='title'>Home Page</h1>
        <nav class='nav'>
          <a href='#' class='nav__item'>Link 1</a>
          <a href='#' class='nav__item'>Link 2</a>
          <a href='#' class='nav__item'>Link 3</a>
          <a href='#' class='nav__item'>Link 4</a>
          <a href='#' class='nav__item'>Link 5</a>
          <a href='#' class='nav__item'>Link 6</a>
          <a href='#' class='nav__item'>Link 7</a>
          <a href='#' class='nav__item'>Link 8</a>
        </nav>
      </header>
      <div class='grid'>
        <section class='row'>
          <div class='col-4 section-border'>
            <div class='ads flex-center'>Ad Space</div>
          </div>
          <div class='col-8 section-border'>
            <div class='rotator flex-center'>Rotator</div>
          </div>
        </section>
        <section class='row'>
          <div class='col-4 section-border'>
            <h2>Featured child</h2>
            <figure id='featured-child'>
              <img width='100%' src='http://via.placeholder.com/320x320'/>
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis dolorem sint iusto ducimus, vel voluptates fugit quos similique quae, aut adipisci quia ea sed officia accusantium molestias doloremque laudantium ipsam.</figcaption>
            </figure>
          </div>
          <div class='col-8 section-border'>
            <article class='simple-give-area flex-center'>
              Simple Give Area
            </article>
          </div>
          <div class='col-4 section-border'>
            <a class='sponsor-link flex-center' href='#'>Sponsor</a>
          </div>
          <div class='col-8 section-border'>
            <p class='creative-ways-to-give flex-center'>Creative Ways to Give</p>
          </div>
        </section>
        <section id='bios'>
          <figure>
            <img />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem aliquam asperiores magnam natus architecto.</figcaption>
          </figure>
          <figure>
            <img />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate hic suscipit ut. Natus, officiis, error.</figcaption>
          </figure>
          <figure>
            <img />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eius praesentium autem id distinctio. Tempore?</figcaption>
          </figure>
          <figure>
            <img />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quam, fugit tempore alias consectetur deleniti.</figcaption>
          </figure>
          <figure>
            <img />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi beatae voluptatibus cum dicta? Voluptatem.</figcaption>
          </figure>
        </section>
      </div>
    </div>
  </body>
</html>
