<!doctype html>
<html>
  <head>
    <title>Layout 3</title>
    <script src='https://cdn.jsdelivr.net/livejs/4/live.js'></script>
    <link rel='stylesheet' href='style.css'
  </head>
  <body>
    <div class='container'>
      <header>
        <a href='#'><img src='assets/logo.svg' /></a>
        <h1 class='title'>In The Field</h1>
        <nav class='nav'>
          <a href='#' class='nav__item'>Link 1</a>
          <a href='#' class='nav__item'>Link 2</a>
          <a href='#' class='nav__item'>Link 3</a>
          <a href='#' class='nav__item'>Link 4</a>
          <a href='#' class='nav__item'>Link 5</a>
          <a href='#' class='nav__item'>Link 6</a>
          <a href='#' class='nav__item'>Link 7</a>
          <a href='#' class='nav__item'>Link 8</a>
        </nav>
      </header>
      <div class='grid'>
        <section class='row'>
          <div class='col-4 section-border'>
            <div class='ads flex-center'>Ad Space</div>
          </div>
          <div class='col-8 section-border'>
            <div class='rotator flex-center'>Rotator</div>
          </div>
        </section>
        <section class='row section-border'>
          <article class='col-12'>
            <video controls width='50%' src='#' poster='http://via.placeholder.com/800x600'></video>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur molestiae rerum quod saepe perspiciatis, tenetur voluptate porro voluptates voluptatum.</p>
            <a class='main__sponsor-link' href='https://google.com' target='_blank'>Click Me!!!</a>
          </article>
        </section>
        <section class='row section-border' style='flex-wrap: nowrap'>
          <figure class='bio'>
            <img src='http://via.placeholder.com/320x320' />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate hic suscipit ut. Natus, officiis, error.</figcaption>
          </figure>
          <figure class='bio'>
            <img src='http://via.placeholder.com/320x320' />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem aliquam asperiores magnam natus architecto.</figcaption>
          </figure>
          <figure class='bio'>
            <img src='http://via.placeholder.com/320x320' />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe eius praesentium autem id distinctio. Tempore?</figcaption>
          </figure>
          <figure class='bio'>
            <img src='http://via.placeholder.com/320x320' />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quam, fugit tempore alias consectetur deleniti.</figcaption>
          </figure>
          <figure class='bio'>
            <img src='http://via.placeholder.com/320x320' />
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi beatae voluptatibus cum dicta? Voluptatem.</figcaption>
          </figure>
        </section>
      </div>
    </div>
  </body>
</html>
