html {
  color: #666;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0 3rem;
}

section {
  margin-top: 1rem;
}

video {
  margin-top: 1rem;
}

$content-height: 250px;
$main-height: $content-height * 2;

@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage($i/12);
    margin-right: -0.25rem; //disable this after making .row a flex container
  }
}

// prevent children margin from going beyond their parents'
// [class*=col-] > *:before {
//   content: '';
//   display: block;
//   width: auto;
//   height: 1px;
// }

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

// Utilitiy classes
.debug {
  border: 1px solid red;
  background: #eee;
}

.text-center {
  text-align: center;
}

.inline-center {
  text-align: center;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-top: 1rem;
  position: relative;
}

.title {
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  min-width: 9.375em;
  padding: 0.4em 1.2em;
  text-align: center;
  background: #eee;
}

.nav {
  margin: 1em auto;
}

.nav__item {
  margin: 0 2.2em;
  text-decoration: none;
  color: #666;

  &:hover {
    color: #444;
  }
}

.grid {
  padding: 0 1rem;

  .row {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .row:nth-child(n+2) {
    margin-top: 1rem;
  }

  [class*=col-] {
    vertical-align: top;
    padding: 0 1rem;
    box-sizing: border-box;
    display: inline-block;
  }
}

.ads, .rotator {
  font-size: 3rem;
  height: $content-height;
}

}

.section-border {
  border: 1px solid #eee;
}

.simple-give-area {
  font-size: 3rem;
  min-height: $main-height * 0.8;
  height: 100%;
}

.sponsor-link {
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  padding: 0.5em 0;
  color: #666;

  &:hover {
    color: #444;
  }
}

.creative-ways-to-give {
  font-size: 3rem;
  padding: 0.5em 0;
  margin: 0;
}

.bio {
  flex: 1;

  img {
    width: 100%;
  }
}

.main__sponsor-link {
  display: block;
  height: 3rem;
  background: #eee;
  text-decoration: none;
  color: #666;
  text-align: center;
  margin: 1rem 0;

  &:hover {
    color: #444;
  }

  &:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}
